:global {
  .bp_config {
    margin-bottom: 0px !important;
  }

  .success-status {
    width: 5px;
    height: 5px;
    background-color: rgb(0, 164, 0);
    border-radius: 50%;
  }

  .fail-status {
    width: 5px;
    height: 5px;
    background-color: #ffffff8c;
    border-radius: 50%;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .mr-30 {
    margin-right: 30px;
  }

  .freq_modal {
    width: calc(~"100% - 687px");
    padding-left: 0px !important;
  }

  .home_table_full {
    height: calc(~"100% - 1px") !important;
  }

  .home_table {
    height: calc(~"100% - 621px") !important;
  }

  .dev_detail_content {
    height: 546px;
  }

  .freq_content {
    height: 580px;
    width: 100%;
  }

  .dev_detail_bottom,
  .star_modal_bottom {
    display: none;
  }

  .freq_detail {
    width: 386px;
  }

  .star_modal {
    width: 300px;
  }

  .star_modal_image {
    width: 270px;
    height: 270px;
    margin: 0px auto;
  }

  .freq_setting {
    display: none;
  }

  .dev_field_col {
    width: 100%;
  }

  @media (max-height: 1079.98px) {
    .freq_content {
      height: 480px;
      width: 100%;
    }

    .dev_detail_content {
      height: 446px;
      // height: 344px;
    }

    .star_modal_image {
      width: 170px;
      height: 170px;
      margin: 0px auto;
    }

    .home_table {
      height: calc(~"100% - 511px") !important;
    }

  }

  @media (max-width: 1919.98px) {
    // .freq_content {
    //   height: 480px;
    //   width: 100%;
    // }

    // .dev_detail_content {
    //   height: 446px;
    // }

    .freq_setting {
      display: block;
    }

    // .star_modal {
    //   width: 300px;
    // }

    // .star_modal_image {
    //   width: 170px;
    //   height: 170px;
    //   margin: 0px 60px;
    // }

  }

  @media (max-width: 1599.98px) {
    .freq_modal {
      width: calc(~"100% - 301px");
    }

    .dev_detail_bottom {
      display: block;
    }

    .freq_detail {
      display: none;
    }

    .star_modal {
      width: 300px;
    }

    .dev_field_col {
      width: 20%;
    }
  }

  @media (max-width: 1199.98px) {
    .freq_modal {
      width: calc(~"100% - 0px");
    }

    .star_modal_bottom {
      display: block;
    }

    .star_modal,
    .freq_detail {
      display: none;
    }
  }

}
