@import 'theme/variables.less';


@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}

.cardOuter .ant-card-body {
  overflow: auto;
  height: 75px;
}


.cancel-card-form{
    .ant-card-body{
        padding-top: 10px !important;
    }
}

.cancel-card{
  .ant-card{
    .ant-card-body{
      width: 1200px !important;
    }

  }
}

:global {
  .tongyiDanWei {
    display: inline-block;
  }

  .ant-card-head-title {
    font-weight: bold;
  }

  #containThreeTable {
    margin-top: 20px;

    .ant-card-head-title {
      text-align: center !important;
    }

    .ant-card-head {
      // border-bottom: 1px solid #19325a !important;
    }
  }

  .g2-tooltip-value {
    float: none !important;
  }


}






