.customLineCard {
  color: #FFFFFF;
  border: 1px solid rgba(92, 200, 241, 0.4);
}

.customCardHeader {
  // height: 30px;
  // line-height: 30px;
  // display: flex;
  // gap: 10px;
  // background: linear-gradient(
  //   to right,
  //   rgba(46, 143, 243, 0.6) 25%,
  //   rgba(46, 143, 243, 0.3) 40%,
  //   rgba(5, 95, 162, 0.2) 100%,
  // );
  // border-bottom: 1px solid;
  // border-image: linear-gradient(to right, #5fa9e7, #023c6e) 1;
}

.customCardHeaderTitleBox {
  position: relative;
  padding-left: 10px;
  flex: 1;
}

.customCardHeaderTitleChain {
  display: inline-block;
  width: 5px;
  height: 8px;
  background-color: #FFFFFF;
  position: absolute;
  top: 38%;
  left: 5;
}

.customCardHeaderTitleContent {
  font-size: 18px;
  margin-left: 12px;
  font-weight: bold;
}

.customCardExtra {
  flex: 1;
  text-align: right;
}
