.item {
  display: inline-block;
  margin: 0;
  height: 32px;
  line-height: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-top-width: 1.02px;
  padding: 0 15px;
  position: relative;
}
