.childrenWidthHelper {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.childrenWrapped {
  display: inline-block;
  overflow: hidden;
}

.ellipsis {
  display: inline-block;
  vertical-align: top;
}
