#drop_over_downward > td {
  border-bottom: 1px dashed #1890ff !important;
}

#drop_over_upward > td {
  border-top: 1px dashed #1890ff !important;
}

#drop_over_downward + tr > td {
  border-top: none !important;
}

.dragTable td{
  transition: 0ms !important;
  border-bottom: none !important;
}

.dragTable th{
  border-bottom: none !important;
}