@import '~theme/variables.less';

:global {

  .ant-table-tbody tr td {
    font-family: bloadface;
  }

  .ant-table-header tr th a {
    color: #ffffff;
  }

  .ant-table-header tr th:not(last-child) {
    border-right: 1px solid #091a36 !important;
  }
}
