.table_no_bottom_border tr:last-child > td {
  border-bottom: 0px !important;
}

:global{
  .citySearch .ant-popover-arrow{
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .citySearch .ant-popover-inner{
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .citySearch .ant-list-item{
    :hover{
      background: #63646b;
    }
  }
  .citySearch .ant-list-vertical .ant-list-item-content{
    margin-bottom: 0;
  }
  .own_popover tr:hover td{
    background-color: #1890ff !important;
  }
  .own_popover tr td{
    background:none !important;
  }
  .ant-cascader-menus ul, .ant-cascader-menus ol {
    height:420px !important;
  }
}
 