.mainBox {
  display: flex;
  align-items: center;
  background-color: #224474;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid;
  border-image: linear-gradient(to right,rgba(6,188,255, 0.1), rgba(6,188,255, 1), rgba(6,188,255, 0.1)) 0 0 30 0;
  position: relative;
}

.topLineOne {
  position: absolute;
  left: 0px;
  width: 2px;
  height: 100%;
  background: #32b4ff;
}

.topLineTwo {
  position: absolute;
  left: 5px;
  padding: 2px 0px;
  width: 2px;
  height: 80%;
  background: #1086bd;
}

.brightLine {
  position: absolute;
  left: 10px;
  bottom: -4px;
}

.bottomPoint {
  position: absolute;
  right: 3px;
  bottom: -3px;
}

.contentBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.titleBox {
  position: absolute;
  left: 10px;
  width: 100px;
  margin-left: 1px;
}

.arrowRight {
}

.titleContent {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  color: #FFFFFF;
  padding-right: 5px;
  font-size: 15px;
}
