:global {
  .tableBox .ant-table-thead > tr > th{
    background:#2F5791!important;
  }
  .tableBox .ant-btn {
    span {
      padding: 2px 8px!important;
    }
  }
  .selfPopover {
    z-index: 999 !important;
    top: 120px !important;
  }

  .selfPopoverModal {
    z-index: 999 !important;
    top: 100px !important;
  }
}
