:global {
  .card_new_border {
    font-size: 16px !important;
    // box-shadow: 2px 2px 2px 2px #22384a !important;
    border-radius: 6px 6px 0 0 !important;
    // border: solid 2px #0063b9 !important;
  }
  .card_new_border .ant-card-type-inner .ant-card-head {
    padding: 0 24px;
    background: #1b5388 !important;
    border-top: solid #0064b6 1px !important;
    border-radius: 6px 6px 0px 0px;
  }
  .card_new_border .ant-card-type-inner .ant-card-head-title {
    padding: 0 24px;
    background: #1b5388 !important;
    border-top: solid #0064b6 1px !important;
  }
  .card_new_border .ant-card-type-inner .ant-card-head-title {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 16px !important;
  }
}
