@import '~theme/variables.less';

.standardTable {
  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
  }

  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}

:global {
  .small-size {
    .ant-table-pagination {
      margin: 8px 0 8px 0;
    }
    .tableAlert {
      margin-bottom: 8px;
    }
  }
}
